*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --tile-font-size: 2rem;
  --tile-size: 3em;
  --slot-gap: 0.2em;
  --board-padding: 0.2em;
  --board-size: calc((var(--board-padding) * 2) + (var(--slot-gap) * 3) + (var(--tile-size) * 4));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.board-container {
  position: relative;
  font-size: var(--tile-font-size);
  height: var(--board-size);
  margin-bottom: 0.5em;
}

.slot-board, .tile-board {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  grid-template-rows: repeat(4, var(--tile-size));
  width: var(--board-size);
  gap: var(--slot-gap);
  padding: var(--board-padding);
  top: 0;
}

.slot-board {
  background-color: lightgray;
}

.slot {
  background-color: gray;
  height: var(--tile-size);
  width: var(--tile-size);
  border-radius: 3px;
}

.tile {
  --row-offset: calc(var(--row, 0) * (var(--tile-size) + var(--slot-gap)) + var(--board-padding));
  --col-offset: calc(var(--col, 0) * (var(--tile-size) + var(--slot-gap)) + var(--board-padding));
  position: absolute;
  background-color: hsl(197, 59%, var(--tile-color, 60%));
  height: var(--tile-size);
  width: var(--tile-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: inset 100ms ease-in-out;
  /* transform: translate(var(--col-offset), var(--row-offset)); */
  top: var(--row-offset);
  left: var(--col-offset);
  border-radius: 3px;
}

.tile.new {
  animation: show 250ms;
}

@keyframes show {
  0% {
    transform: scale(130%);
    opacity: 0.4;
  }
}

.row-0 {
  --row: 0
}

.row-1 {
  --row: 1
}

.row-2 {
  --row: 2
}

.row-3 {
  --row: 3
}
.col-0 {
  --col: 0
}

.col-1 {
  --col: 1
}

.col-2 {
  --col: 2
}

.col-3 {
  --col: 3
}
